/* STANDARD CSS PROPERTIES */

body {
    margin: 0;
    font-family: 'Montserrat','Open sans', Arial, Helvetica, sans-serif;
}

a {
    background-color: transparent;
    transition: all .5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

._1span {
    grid-column: span 1;
    grid-row: span 1;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}

/* CONTAINER CSS BASE GRID PROPERTIES */

.container {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}

/* HEADER CSS BASE GRID PROPERTIES */

.header {
    background: linear-gradient( #ff0f0f, #df0000 50%);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.headerContent {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: inherit;
}

.headerMiddleContent {
    grid-column: 2 / 4;
    grid-row: span 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: inherit;
}

/* HEADER LEFT MIDDLE CSS PROPERTIES */

.headerMiddleLeftContent {
    align-content: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: -2px;
}

.headerMiddleLeftContent h1 {
    margin: 0;
}

/* HEADER RIGHT MIDDLE CSS PROPERTIES */

.headerMiddleRightContent {
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
}

/* LOGIN FORM CSS PROPERTIES */

.form_login {
    grid-template-columns: inherit;
    grid-template-rows: inherit;
}

.formContent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: inherit;
}

.formSubmitLogin,
.formPwdLogin,
.formUidLogin {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    color: #fff;
}

.loginInput{
    margin-right: 1vw;
    border: 1px solid #df0000;
    grid-column: span 1;
    grid-row: 3 / 4;
}

.loginLabel {
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
    grid-column: span 1;
    grid-row: 2 / 3;
}

.submitLoginButton {
    grid-column: span 1;
    grid-row: 3 / 4;
    color: #fff;
    font-family: 'Montserrat','Open sans', Arial, Helvetica, sans-serif;
    border: 1px solid #ff0f0f;
    background-color: #df0000;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.submitLoginButton:hover {
    background-color: #ff0f0f;
}

/* MAIN CSS BASE GRID PROPERTIES */

.main {
    background-color: #f1f1f1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.mainContent {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: inherit;
}

.mainMiddleContent {
    grid-column: 2 / 4;
    grid-row: span 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: inherit;
}

/* MAIN LEFT MIDLLE CSS PROPERTIES */

/* MAIN RIGHT MIDDLE CSS PROPERTIES */

.mainMiddleRightContent {
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
}

.mainMiddleRightGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.mainSignUpFormHeadline {
    grid-column: span 2;
    grid-row: 2 / 3;
    align-content: center;
}

.signUpFormH1 {
    margin: 0;
    color: #000;
}

/* SIGN UP FORM CSS PROPERTIES */

.form_signup {
    grid-column: span 2;
    grid-row: 4 / 10;
    grid-template-columns: inherit;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 10px;
}

.signUpFirstName,
.signUpLastName {
    grid-column: span 1;
    grid-row: span 1;
}

.signUpEmail,
.signUpUsername,
.signUpPassword {
    grid-column: span 2;
    grid-row: span 1;
}

.signUpSubmit {
    grid-column: span 2;
    grid-row: 6 / 7;
}

.inputSignUpText {
    border-radius: 5px;
    border: 1px solid #000;
    font-size: auto;
}

/* FOOTER CSS BASE GRID PROPERTIES */